affine==2.3.0
aiobotocore==2.12.1
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.12
albumentations==1.1.0
appdirs==1.4.4
arandr==0.1.10
argon2-cffi==21.1.0
astroid==2.9.3
astropy==5.0.2
asttokens==2.4.1
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
backoff==2.2.1
basemap==1.2.1
bcc==0.18.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
beniget==0.4.1
binwalk==2.3.3
black==21.10b0
bleach==4.1.0
blinker==1.4
bokeh==3.3.4
boto3==1.20.34
botocore==1.34.51
bounded-pool-executor==0.0.3
breezy==3.2.1
Brlapi==0.8.3
Brotli==1.0.9
bsddb3==6.2.9
cachy==0.3.0
Cartopy==0.0.0
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.0.6
chrome-gnome-shell==0.0.0
cleo==0.8.1
cliapp==1.20180812.1
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
cloudpickle==2.0.0
cmdtest==0.32+git
colorama==0.4.4
colorcet==3.1.0
comm==0.2.2
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
contourpy==1.2.0
cov-core==1.15.0
coverage==6.2
crashtest==0.3.1
crit==0.0.1
crudini==0.9.3
cryptography==3.4.8
cson==0.8
ctop==1.0.0
cupshelpers==1.0
cycler==0.11.0
Cython==0.29.28
dask==2024.2.1
datashader==0.16.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
devscripts===2.22.1ubuntu1
diff-match-patch==20200713
distlib==0.3.4
distro==1.7.0
distro-info===1.1build1
dnspython==2.1.0
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.17.1
dput==1.34
dulwich==0.20.31
earthaccess==0.9.0
emcee==3.1.1
entrypoints==0.4
executing==2.0.1
fabric==2.6.0
fail2ban==0.11.2
fastbencode==0.0.5
fastimport==0.9.14
fastjsonschema==2.20.0
feedparser==6.0.10
filelock==3.6.0
fiona==1.9.5
fonttools==4.29.1
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.2.0
future==0.18.2
gast==0.5.2
gbp==0.9.25
GDAL==3.4.1
geojson==2.5.0
geomet==0.2.1.post1
geopandas==0.14.3
gitdb==4.0.11
GitPython==3.1.43
gpg===1.16.0-unknown
gramps==5.1.5
greenlet==1.1.2
h5netcdf==1.3.0
h5py==3.6.0
h5py.-debian-h5py-serial==3.6.0
hdf-compass==0.7b8
healpy==1.15.0
helpdev==0.7.1
hnswlib==0.6.1
holoviews==1.18.3
html2text==2020.1.16
html5lib==1.1
httpie==2.6.0
httplib2==0.20.2
hvplot==0.9.2
hyperlink==21.0.0
hypothesis==6.36.0
icdiff==2.0.4
idna==3.3
ifaddr==0.1.7
imageio==2.4.1
imagesize==1.3.0
importlib-metadata==7.0.1
incremental==21.3.0
iniconfig==1.1.1
iniparse==0.4
intervaltree==3.0.2
invoke==1.4.1
iotop==0.6
ipykernel==6.7.0
ipython==8.12.3
ipython_genutils==0.2.0
ipywidgets==8.1.2
isort==5.6.4
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter_core==5.7.2
jupyterlab-pygments==0.1.2
jupyterlab_widgets==3.0.10
keyring==23.5.0
kiwisolver==1.3.2
krop==0.6.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==0.0.0
linkify-it-py==2.0.3
llvmlite==0.38.0
locket==1.0.0
lockfile==0.12.2
logilab-common==1.8.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
meld==3.20.4
meson==0.61.2
mistune==3.0.2
mock==4.0.3
more-itertools==8.10.0
mpi4py==3.1.3
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.5
multimethod==1.11.2
multipledispatch==1.0.0
munch==2.5.0
mypy-extensions==0.4.3
nbclient==0.5.6
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.4
netaddr==0.8.0
networkx==2.4
nose2==0.9.2
notebook==6.4.8
notify2==0.3
numba==0.55.1
numpy==1.26.4
numpydoc==1.2
oauthlib==3.2.0
odfpy==1.4.2
opencv-python-headless==4.6.0.66
OWSLib==0.25.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.4.2
panel==1.3.8
param==2.0.2
paramiko==2.9.3
parso==0.4.0
partd==1.4.1
pastel==0.2.1
pathspec==0.9.0
patiencediff==0.2.1
patsy==0.5.2
pbr==5.8.0
pcbasic==2.0.4
pexpect==4.8.0
photutils==1.3.0
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.5.0
pkginfo==1.8.2
platformdirs==2.5.1
plotly==5.4.0
pluggy==0.13.0
ply==3.11
poetry==1.1.12
poetry-core==1.0.7
pqdm==0.2.0
pretrainedmodels==0.7.4
probert==0.0.18
prometheus-client==0.9.0
prompt_toolkit==3.0.47
protobuf==4.25.3
psutil==5.9.0
psycopg2==2.9.2
ptyprocess==0.6.0
pure_eval==0.2.3
py==1.10.0
pyasn1==0.3.7
pyasn1-modules==0.2.1
pybind11==2.9.1
pycairo==1.20.1
PyChromecast==9.4.0
pycodestyle==2.8.0
pycryptodomex==3.11.0
pyct==0.5.0
pycups==2.0.1
pycurl==7.44.1
pyds9==1.8.1
pyenchant==3.2.0
pyerfa==2.0.0.1
pyflakes==2.4.0
Pygments==2.18.0
PyGObject==3.42.0
pygraphviz==1.5
PyHamcrest==2.0.2
pyinotify==0.9.6
PyJWT==2.3.0
pylev==1.2.0
pylint==2.12.2
pyls-black==0.4.6
pyls-spyder==0.4.0
pymacaroons==0.13.0
pymol==2.5.0
PyNaCl==1.5.0
pynpoint==0.10.0
pynvim==0.4.2
pyogrio==0.7.2
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparallel==0.2.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-sip==12.9.1
PyQtWebEngine==5.15.5
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pyshp==2.2.0
PySimpleSOAP==1.16.2
pysmbc==1.0.23
PySocks==1.7.1
pysvn==1.9.15
pytest==6.2.5
pytest-arraydiff==0.5.0
pytest-astropy==0.9.0
pytest-astropy-header==0.2.0
pytest-cov==3.0.0
pytest-doctestplus==0.11.2
pytest-filter-subpackage==0.1.1
pytest-mock==3.6.1
pytest-openfiles==0.5.0
pytest-remotedata==0.3.3
python-apt==2.3.0+ubuntu2
python-cmr==0.9.0
python-dateutil==2.9.0.post0
python-debian===0.1.43ubuntu1
python-debianbts==3.2.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-ldap==3.2.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-poppler-qt5==0.75.0
python-sane==2.9.1
pythran==0.10.0
pytz==2024.1
pyudev==0.22.0
pyviz_comms==3.0.1
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
QDarkStyle==2.8.1
QScintilla==2.11.6
QtAwesome==1.1.1
qtconsole==5.2.2
QtPy==2.0.0
qudida==0.0.4
qutip==4.6.2
rabbitvcs==0.18
ranger-fm==1.9.3
rasterio==1.3.10
rencode==1.0.6
reportbug===11.4.1ubuntu1
reportlab==3.6.8
requests==2.31.0
requests-toolbelt==0.9.1
roman==3.3
rope==0.22.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
s-tui==1.1.3
s3fs==2024.2.0
s3transfer==0.5.0
scikit-image==0.18.3
scikit-learn==1.1.1
scipy==1.13.0
scour==0.38.2
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==3.3.1
Send2Trash==1.8.1b0
sentinelsat==0.14
sentry-sdk==2.3.1
service-identity==18.1.0
setproctitle==1.3.3
sgmllib3k==1.0.0
Shapely==1.8.0
shellingham==1.4.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.1.0
soupsieve==2.6
speedtest-cli==2.1.3
speg==0.3
Sphinx==4.3.2
spyder==4.2.1
spyder-kernels==1.10.2
ssh-import-id==5.11
stack-data==0.6.3
statsmodels==0.13.2
sympy==1.4
systemd-python==234
tenacity==6.3.1
tensorboardX==1.9
terminado==0.13.1
terminator==2.1.1
testpath==0.5.0
textdistance==4.2.2
threadpoolctl==3.1.0
three-merge==0.1.1
tifffile==2022.2.9
tinycss2==1.3.0
tinynetrc==1.3.1
toml==0.10.2
tomli==1.2.2
tomlkit==0.9.2
toolz==0.10.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchfile==0.1.0
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.66.2
traitlets==5.14.3
trimage==1.0.6
ttystatus==0.38
Twisted==22.1.0
typeguard==2.2.2
typing-extensions==3.10.0.2
tzdata==2024.1
ubuntu-dev-tools==0.189
ubuntu-drivers-common==0.0.0
uc-micro-py==1.0.3
ufoLib2==0.13.1
ujson==5.1.0
unicodedata2==14.0.0
urllib3==2.2.1
urwid==2.1.2
usb-creator==0.3.7
veusz==3.3.1
virtualenv==20.13.0+ds
vmdb2==0.24
wadllib==1.3.6
wandb==0.17.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
widgetsnbextension==4.0.10
wrapt==1.13.3
wurlitzer==3.0.2
wxPython==4.0.7
xarray==2024.2.0
xdg==5
xkit==0.0.0
xpra==3.1
xyzservices==2023.10.1
yarg==0.1.9
yarl==1.9.4
youtube-dl==2021.12.17
zeroconf==0.38.3
zipp==1.0.0
zope.interface==5.4.0